/* Farmer Profile Styles */

.FarmerProfile {
  width: 100%;
}

.FarmerSelectDiv,
.PlotSelectDiv {
  margin: 10px;
  display: inline-block;
  width: 45%;
}

.FarmerProfileLabel {
  text-align: left;
  display: inline-block;
  width: 150px;
  color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.FarmerSelect,
.PlotSelect {
  width: 100%;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.FarmerProfileLink:hover {
  cursor: pointer;
  /* background-color: rgb(173, 222, 250); */
  background-color: #b7e999;
}

input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
