.leaflet-container {
  /* width: 1000px; */
  height: 600px;
  margin: 1%;
}

.readymade_main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.readymadeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.readymade_card_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
