.viewAllFarmersMainDiv {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

div.AllFarmersScroll {
  margin: 4px, 4px;
  padding: 4px;
  /* background-color: #c0eec0; */
  width: 1200px;
  overflow: auto;
  white-space: nowrap;
  height: 350px;
}

.AllFarmersScroll table {
  border-collapse: collapse;
  /* border-style: solid; */
  background-color: #c0eec0;
}

.AllFarmersScroll td {
  border-style: solid;
  text-align: center;
  border-color: white;
  border-width: 1px;
  padding: 10px;
}

.AllFarmersHeaderRow td {
  padding: 10px;
  font-size: large;
  text-align: center;
  font-weight: bold;
  background-color: #63f163;
}

.IndividualFarmerRow:hover {
  background-color: rgb(226, 226, 104);
  cursor: pointer;
}

.filter {
  width: 30%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  display: inline-block;
  background-color: #c0eec0;
}

.searching {
  width: 30%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  display: inline-block;
  background-color: #c0eec0;
}

.applyFilterClearButton,
.applyFilterButton {
  margin: 0 1.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #265acc;
  border: none;
  color: white;
  /* color: black; */
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
  cursor: pointer;
}

.applyFilterClearButton:hover,
.applyFilterButton:hover {
  background-color: #63f163;
  color: black;
}

.exportButton {
  /* margin-right: 10%; */
  /* margin-top: 1%; */
  margin-left: 30%;
  height: 38px;
  padding: 5px;
  background-color: #265acc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  color: white;
}

.exportButton:hover {
  background-color: rgb(226, 226, 104);
  cursor: pointer;
}
