.AdminProfileLabel {
  text-align: left;
  display: inline-block;
  width: 150px;
  color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.selectDelete {
  display: inline-block;
  width: 75%;
}

.DeleteButton {
  margin: 0 1.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #cc4233;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
  cursor: pointer;
}

.CancelButton {
  margin: 0 1.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
  cursor: pointer;
}
