.MRLUploadLabel {
  text-align: left;
  display: inline-block;
  width: 150px;
  color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.MRLMonitoringUploadInput {
  border-style: solid;
  border-width: thin;
  color: black;
  width: 90%;
  height: 300px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(../../assets/editedGif.gif);
}

.MRLMonitoringUploadInputSuccess {
  border-style: solid;
  border-width: thin;
  color: black;
  width: 90%;
  height: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(../../assets/csvImage.jpg);
}

.MRLMonitoringUploadInput,
.MRLMonitoringUploadInputSuccess:hover {
  cursor: pointer;
}

.MRLMonitoringButton {
  margin: 0 1.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
  cursor: pointer;
}
