/* .LoginMainDiv {

  margin-left: 600px;
  margin-top: 200px;

} */

.mainLogin {
  /* width: 100%; */
  height: 100%;
  background-color: #3a429f;
  /* background-color: black; */
  margin-top: 200px;
  margin-left: 500px;
  margin-right: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
}

/* body {
  background-color: #F3EBF6;
  font-family: 'Ubuntu', sans-serif;
} */

.main {
  /* margin-left: 600px;
  margin-top: 200px; */
  /* background-color: #FFFFFF; */
  background-color: #F3EBF6;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  text-align: center;
  padding-top: 40px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.userName {
  /* border: rgb(229, 85, 181); */

  width: 50%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid white;
  margin-bottom: 50px;
  margin-left: 130px;
  text-align: center;
  margin-bottom: 27px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border-style: solid;
  /* border-width: thick; */
  /* border-color: #E040FB; */
  border-color: white;
}

.form1 {
  padding-top: 40px;
}

.password {
  text-align: center;
  width: 50%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 130px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
  border-style: solid;
  /* border-width: thick; */
  border-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.userName:focus,
.password:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #5fde94, #11a93a);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 200px;
  font-size: 17.5px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 30px;

}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;


}

.anchorForgot {
  text-decoration: none;
  color: white;
}

/* @media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
} */